<ion-content ion-fixed class="background-app" style="z-index: 1;" *ngIf="data" main>

    <!-- Themes Login + logo 1 -->
    <ion-grid>
        <ion-col>
            <ion-row>
                <div style="display: block; width: 100%">
                <ion-label style="color: #8c89aeff">PASSWORD</ion-label>
                <ion-input style="border-radius: 10px;  background-color: #bdbbd1ff;" type="password"
                           [(ngModel)]="pass"></ion-input>
                </div>
            </ion-row>
            <ion-row style="margin-top: 70px; display: flex; justify-content: space-around;">
                <button ion-button
                        (click)="onEvent('onLogin')">Login
                    <img style="height: 15px;margin-left: 10px;" src="assets/images/hdpi/ico-chevron-right.png">
                </button>
            </ion-row>
            <ion-row>
                <div class="grey" style="padding-top: 50px; color: #1F2126" *ngIf="!data.isRegistered;">
                    ¿New to BlockchaIN2?<a class="menu" (click)="onEvent('onRegister')"
                                                       style="color: #1F2126"> Sign up now
                </a>
                </div>
            </ion-row>
        </ion-col>
    </ion-grid>
</ion-content>
