<!-- Themes Register + logo -->
<!--Content -->
<ion-content class="background-app">
    <ion-grid>
        <ion-col>
            <ion-row>
                <h3 class="titol_gran" ion-text style="margin-left: 20px;" padding-bottom color="registerTitle">Crea tu AlastriaId</h3>
            </ion-row>
            <ion-row>
                <ion-item style="text-align: start; background-color: #f0f0f5ff;" no-lines>
                    <button ion-button="" style="background: #4a4a4c" (click)="openScanner()">
                        <ion-icon slot="icon-only" name="qr-scanner"></ion-icon>
                    </button>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item no-lines style="background-color: #f0f0f5ff">
                    <ion-label stacked style="margin-left: 4px;">NOMBRE</ion-label>
                    <ion-input no-lines style="border-radius: 10px; border-style: solid;border-color: transparent; border-spacing: 54px; background-color: #bdbbd1ff;   border-bottom-color: transparent !important;
    box-shadow: none !important;" required type="text" [(ngModel)]="name"></ion-input>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item no-lines style="background-color: #f0f0f5ff">
                    <ion-label stacked style="margin-left: 4px;">APELLIDOS</ion-label>
                    <ion-input no-lines style="border-radius: 10px; border-style: solid;border-color: transparent; border-spacing: 54px; background-color: #bdbbd1ff;   border-bottom-color: transparent !important;
    box-shadow: none !important;" required type="text"
                               [(ngModel)]="surnames"></ion-input>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item no-lines style="background-color: #f0f0f5ff">
                    <ion-label stacked style="margin-left: 4px;">EMAIL</ion-label>
                    <ion-input no-lines style="border-radius: 10px; border-style: solid; border-color: transparent; border-spacing: 54px; background-color: #bdbbd1ff;   border-bottom-color: transparent !important;
    box-shadow: none !important;" required type="email"
                               pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required
                               [(ngModel)]="email"></ion-input>
                    <ion-label style="font-size: 16px;" error-field color="primary" *ngIf="!isEmailValid">"Formato
                        incorrecto de email"
                    </ion-label>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item no-lines style="background-color: #f0f0f5ff">
                    <ion-label stacked style="margin-left: 4px;">TICKET ID</ion-label>
                    <ion-input no-lines style="border-radius: 10px; border-style: solid; border-color: transparent; border-spacing: 54px; background-color: #bdbbd1ff;   border-bottom-color: transparent !important;
    box-shadow: none !important;" required type="text"
                               required [(ngModel)]="ticketId"></ion-input>
                    <!--                    <ion-label style="font-size: 16px;" error-field color="primary" *ngIf="!isEmailValid">-->
                    <!--                        Formato-->
                    <!--                        incorrecto de email-->
                    <!--                    </ion-label>-->
                </ion-item>
            </ion-row>
            <ion-row style="display: flex; justify-content: space-around; margin-top: 20px;">
                <button ion-button
                        (click)="onEvent('onRegister')">Crear y solicitar credenciales
                    <img style="height: 15px;margin-left: 10px;" src="assets/images/hdpi/ico-chevron-right.png">
                </button>
            </ion-row>
            <ion-row style="display: flex; justify-content: center; margin-top: 10px;">
                <div style="margin-left: 4px; margin-right: 4px; "><img style="max-width: 70%" src="assets/images/hdpi/ico-oval.png"></div>
                <div style="margin-left: 4px; margin-right: 4px;"><img style="max-width: 70%" src="assets/images/hdpi/ico-oval.png"></div>
                <div style="margin-left: 4px; margin-right: 4px;"><img style="max-width: 70%" src="assets/images/hdpi/ico-oval-active.png"></div>
            </ion-row>
        </ion-col>
    </ion-grid>
</ion-content>
