<ion-content class="background-app">
    <ion-card-content>
        <div *ngIf="credencialesEntregadas.length==0">
            <h4 margin-top="100px" text-center>You do not have any Credentials presented yet!</h4>
        </div>
        <div *ngIf="credencialesEntregadas.length>0">
            <h3 style="margin: 15px;" text-center="">Presented credentials</h3>
            <ion-card *ngFor="let cred of credencialesEntregadas; let i = index" class="backgroundImg">
                <div class="title-cards">
                    <h3 class="txt-color">TICKET ID: </h3>
                    <img style="height: 18px; width: 18px" src="assets/images/hdpi/ico-question-circle.png">
                </div>
                <div class="title-cards">
                    <h3 class="txt-credential">{{ticketId}}</h3>
                </div>
                <div>
                    <div class="title-provider">
                        <h3 class="txt-color">ISSUED BY</h3>
                    </div>
                    <div class="level">
                        <img style="height: 11px; width: 18px" src="assets/images/hdpi/credencial-A.png">
                        <h3 style="color: #000;"><strong>Basic</strong></h3>
                    </div>
                </div>
                <div>
                    <strong style="color: black !important;">IN2</strong>
                </div>
                <div>
                    <div class="title-provider">
                        <h3 class="txt-color">PRESENTED TO</h3>
                    </div>
                    <div class="title-provider">
                        <h3 class="txt-color" style="color: black;">{{datesPresented[i]}}</h3>
                    </div>
                </div>
                <div>
                    <strong style="color: black !important;">{{cred}}</strong>
                </div>
            </ion-card>
        </div>
    </ion-card-content>
</ion-content>


