// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.top10 {
    margin-top: 10px !important;
}
.top30 {
    margin-top: 30px !important;
}

.top50 {
    margin-top: 50px !important;
}

.black_menu {
    background: rgb(36, 43, 66);
}

.black_menu > button {
    background: rgb(36, 43, 66);
    color: white;
}

.black_menu > .scroll-content {
    background: rgb(36, 43, 66);
    button {
        background: rgb(36, 43, 66);
        color: white;
    }
    button:hover {
        background: rgb(54, 65, 99);
    }
    button:last-child{
        border-bottom: 1px solid #dedede;
    }
}
.white_color {
    color: white;
}

.titol_gran{
    font-family: Montserrat;
    font-weight: 700;
    text-transform: none;
    font-size: 24px;
    letter-spacing: 0px;
    color: rgba(26, 24, 49, 1);
}

.titol_card{
    font-family: Montserrat-ExtraBold;
    font-weight: 400;
    text-transform: none;
    font-size: 18px;
    letter-spacing: 0px;
    color: rgba(52, 134, 186, 1);
}

.background-app{
    background: #f0f0f5ff;
}

