page-show-identity {


  .qr{
    display: inline-block;
    min-height: 100% !important;
    background: #eee;
    contain: inherit !important;
    text-align: center;

  }

  .title-identity {
    display: flex;
    justify-content: center;
  }

}
