<!-- Themes Register + logo -->
<!--Content -->
<ion-content class="background-app" >
    <ion-grid>
        <ion-col>
            <ion-row>
                <h1 ion-text register-title padding-bottom color="registerTitle">Register</h1>
            </ion-row>
            <ion-row>
                <div style="width: 100%">
                        <ion-label style="margin-left: 4px;">PASSWORD</ion-label>
                    <ion-input  style="border-radius: 10px;  background-color: #bdbbd1ff;"
                                required placeholder="Enter your password"
                                type="password"
                               [(ngModel)]="pwd">
                    </ion-input>
                    <ion-label style="font-size: 16px;" error-field color="primary" no-margin *ngIf="!isPasswordValid">
                        Password is not valid
                    </ion-label>
                </div>
            </ion-row>
            <ion-row>
                <div style="width: 100%">
                    <ion-label style="margin-left: 4px;">REPEAT PASSWORD</ion-label>
                    <ion-input id="pwd" style="border-radius: 10px;background-color: #bdbbd1ff;"
                               required placeholder="Repeat your password"
                               type="password"
                               [(ngModel)]="pwd2">
                    </ion-input>
                    <ion-label style="font-size: 16px;" error-field color="primary" no-margin
                               *ngIf="!doPasswordsMatch">Passwords don't match
                    </ion-label>
                </div>
            </ion-row>
            <ion-row style="display: flex; justify-content: space-around; margin-top: 15px;">
                <button ion-button
                        (click)="navigateToRegisterForm()">Continue
                    <img style="height: 15px;margin-left: 10px;" src="assets/images/hdpi/ico-chevron-right.png">
                </button>
            </ion-row>
            <ion-row style="display: flex; justify-content: center; margin-top: 10px;">
                <div style="margin-left: 4px; margin-right: 4px;" (click)="goToBack()"><img style="max-width: 70%" src="assets/images/hdpi/ico-oval.png"></div>
              <div style="margin-left: 4px; margin-right: 4px;"><img style="max-width: 70%" src="assets/images/hdpi/ico-oval-active.png"></div>
              <div style="margin-left: 4px; margin-right: 4px;"><img style="max-width: 70%" src="assets/images/hdpi/ico-oval.png"></div>
            </ion-row>
        </ion-col>
    </ion-grid>
</ion-content>
